{
  "log": {
    "_recordingName": "should return viewer",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "94677cee0ec2eb7593d3e7906e894a93",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "token ghp_token"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.github.com/user"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1446,
            "text": "{\"login\":\"erauner12\",\"id\":59383957,\"node_id\":\"MDQ6VXNlcjU5MzgzOTU3\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/59383957?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/erauner12\",\"html_url\":\"https://github.com/erauner12\",\"followers_url\":\"https://api.github.com/users/erauner12/followers\",\"following_url\":\"https://api.github.com/users/erauner12/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/erauner12/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/erauner12/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/erauner12/subscriptions\",\"organizations_url\":\"https://api.github.com/users/erauner12/orgs\",\"repos_url\":\"https://api.github.com/users/erauner12/repos\",\"events_url\":\"https://api.github.com/users/erauner12/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/erauner12/received_events\",\"type\":\"User\",\"user_view_type\":\"private\",\"site_admin\":false,\"name\":null,\"company\":null,\"blog\":\"\",\"location\":null,\"email\":null,\"hireable\":null,\"bio\":null,\"twitter_username\":null,\"notification_email\":null,\"public_repos\":70,\"public_gists\":0,\"followers\":3,\"following\":6,\"created_at\":\"2019-12-31T05:47:19Z\",\"updated_at\":\"2025-05-17T00:24:49Z\",\"private_gists\":26,\"total_private_repos\":62,\"owned_private_repos\":62,\"disk_usage\":312290,\"collaborators\":2,\"two_factor_authentication\":false,\"plan\":{\"name\":\"free\",\"space\":976562499,\"collaborators\":0,\"private_repos\":10000}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"7bfc3257c819d0da83f6dd16ff1023d171119ec34aeeb865fe28145312af1837\""
            },
            {
              "name": "last-modified",
              "value": "Sat, 17 May 2025 00:24:49 GMT"
            },
            {
              "name": "x-accepted-oauth[...]
